.third {
    background-color: white;
    width: 568px;
    height: 638px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    // position: relative;

}
  
.block__max {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
  
.block__min {
    font-size: 20px;
    text-align: center;
}

.block1_2{
    background-color: white;
    border-radius: 24px;
    position: relative;
    left: 60px;
}