@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "roboto", "sans-serif";
  background-color: rgb(245, 245, 245);
}

.wrapper {
  max-width: 1900px;
  margin: 0 165px 0 165px;
}

.first-button {
  margin-top: 50px;
  width: 300px;
  height: 80px;
  background-color: #4C40F7;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 25px;
}

header {
  display: inline-flex;
  font-size: 14px;
  opacity: 0.7;
}

.ul1 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  left: 30px;
  width: 600px;
}

.menu li {
  list-style: none;
  display: flex;
}

.ul1__a {
  text-decoration: none;
  color: #000;
}

.ul1__a:active {
  color: #000;
}

.ul1__a:hover {
  color: #000;
}

nav li ul:visited {
  color: #000;
}

.menu__button {
  font-weight: 400;
  color: white;
  position: relative;
  background-color: #ff561d;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  width: 200px;
  height: 40px;
  top: -50px;
  left: 800px;
  padding-top: 15px;
  padding-left: 9px;
}

.ul__last {
  color: white;
  font-weight: 600;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.6;
}

.third {
  background-color: white;
  width: 568px;
  height: 638px;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
}

.block__max {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.block__min {
  font-size: 20px;
  text-align: center;
}

.block1_2 {
  background-color: white;
  border-radius: 24px;
  position: relative;
  left: 60px;
}

.first__h1text {
  font-size: 60px;
  width: 718px;
  height: 313px;
}

.first__p {
  width: 450px;
}

.first__img {
  position: absolute;
  top: -50px;
  left: 700px;
}

.second {
  padding-top: 300px;
}

.second_p {
  color: blue;
}

.second_h2 {
  font-size: 60px;
  width: 500px;
}

.offer {
  padding-top: 100px;
  text-align: center;
  width: 700px;
}

.offer__p__blue {
  color: blue;
}

.offer__h3 {
  margin: 30px 0 30px 0;
  font-size: 60px;
}

.four__block__f {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
}

.four__block__s {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
}

.four__block__1 {
  background-color: white;
  width: 600px;
  height: 680px;
  border-radius: 40px;
  text-align: center;
}

.four__block__main {
  padding-top: 80px;
  font-size: 72px;
  font-weight: 600;
}

.four__block__second {
  padding-top: 45px;
  font-size: 24px;
  width: 500px;
}

.four__block__button {
  margin-top: 80px;
  color: white;
  font-size: 24px;
  background-color: #5956E9;
  border-radius: 20px;
  width: 340px;
  height: 82px;
  border: none;
}

.four__block__2 {
  background-color: #5956E9;
  width: 500px;
  height: 680px;
  border-radius: 40px;
  text-align: center;
  position: relative;
  left: 60px;
}

.four__block__main__blue {
  padding-top: 42px;
  font-size: 72px;
  color: white;
  font-weight: 600;
  width: 500px;
}

.four__block__second__blue {
  font-size: 24px;
  color: white;
}

.four__block__button__blue {
  color: #5956E9;
  margin-top: 104px;
  font-size: 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 340px;
  height: 82px;
  border: none;
  box-shadow: 0px 15px 20px 2px rgba(41, 83, 116, 0.2);
}

.four__block__4 {
  background-color: white;
  width: 500px;
  height: 680px;
  border-radius: 40px;
  text-align: center;
  position: relative;
  left: 60px;
}

.afterDark {
  text-align: center;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.afterDark__p__blue {
  font-size: 24px;
  color: blue;
}

.afterDark__p__grey {
  font-size: 24px;
}

.info__right__img {
  height: 800px;
}

.info__p__number {
  color: blue;
}

.info__p__main {
  font-size: 72px;
  width: 470px;
  margin: 50px 0 50px 0;
  font-weight: 600;
}

.info__p__info {
  width: 520px;
}

.info__button {
  background-color: #5956E9;
  font-size: 20px;
  width: 320px;
  height: 80px;
  border: none;
  color: white;
  border-radius: 20px;
  margin-top: 70px;
}

.info__p {
  padding-top: 70px;
}

.info__img {
  position: relative;
  top: -570px;
  left: 650px;
  width: 400px;
}

.right__img__smal {
  position: relative;
  left: 250px;
  top: -250px;
  box-shadow: -5px 11px 16px 0px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
}

.right__img3__smal {
  position: relative;
  left: 180px;
  top: -230px;
  box-shadow: -5px 11px 16px 0px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
}

.info__p__number__left {
  color: blue;
}

.info__p__main__left {
  font-size: 72px;
  width: 470px;
  margin: 50px 0 50px 0;
  font-weight: 600;
}

.info__p__info__left {
  width: 520px;
}

.info__p__left {
  width: 300px;
}

.info__button__left {
  background-color: #5956E9;
  font-size: 20px;
  width: 320px;
  height: 80px;
  border: none;
  color: white;
  border-radius: 20px;
  margin-top: 70px;
}

.left__img3__big {
  position: relative;
  left: -650px;
}

.left__img3__smal {
  position: relative;
  left: -450px;
  top: -250px;
}

.info__p__left {
  padding-top: 70px;
  position: relative;
  left: 650px;
  top: -50px;
}

.info__right__img__3 {
  position: relative;
  top: -800px;
  height: 500px;
}

.end {
  background-color: white;
  margin-top: 850px;
  border-radius: 24px;
  width: 1138px;
  position: relative;
  left: 50px;
}

.end__text {
  text-align: center;
  margin: 200px 200px;
}

.end__p__1 {
  padding-top: 50px;
  color: blue;
  font-size: 20px;
}

.end__p__main {
  font-size: 72px;
  width: 700px;
  font-weight: 600;
}

.end__p__2 {
  font-size: 20px;
  width: 700px;
}

.end__label {
  text-align: center;
  position: relative;
  top: -100px;
}

.end__button {
  background-color: #5956E9;
  font-size: 20px;
  width: 320px;
  height: 80px;
  border: none;
  color: white;
  border-radius: 20px;
  margin-top: 70px;
  position: relative;
  left: 400px;
  top: -50px;
}

@media screen and (wight > 1024px) {
  .four__block__second {
    font-size: 18px;
  }
}/*# sourceMappingURL=main.css.map */