.end{
    background-color: white;
    margin-top: 850px;
    border-radius: 24px;
    width: 1138px;
    position: relative;
    left: 50px;
    // right: 50%;
}

.end__text{
    text-align: center;
    margin: 200px 200px;
}

.end__p__1{
    padding-top: 50px;
    color: blue;
    font-size: 20px;
}

.end__p__main{
    font-size: 72px;
    width: 700px;
    font-weight: 600;
}

.end__p__2{
    font-size: 20px;
    width: 700px;
}

.end__label{
    text-align: center;
    position: relative;
    top: -100px;
}

.end__button{
    background-color:  #5956E9;
    font-size: 20px;
    width: 320px;
    height: 80px;
    border: none;
    color: white;
    border-radius: 20px;
    margin-top: 70px;
    position: relative;
    left: 400px;
    top:-50px ;
}