.ul1{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    left: 30px;
    width: 600px;
}

.menu li{
    list-style: none;
    display: flex;
    // display: inline;
}

.ul1__a{
    text-decoration: none;
    color: #000;
}

.ul1__a:active{
    color: #000;
}

.ul1__a:hover{
    color: #000;
}

nav li ul:visited{
    color: #000;
}

.menu__button{
    font-weight: 400;
    color: white;
    position: relative;
    background-color: #ff561d;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    width: 200px;
    height: 40px;
    top: -50px;
    left: 800px;
    padding-top: 15px;
    padding-left: 9px;
}

.ul__last{
    color: white;
    font-weight: 600;
}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .60;
}