body{
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
}

.wrapper{
    flex-direction: column;
    justify-content: center;
}

nav{
    /* flex-wrap: wrap;
    display: inline-block;
    position: fixed;
    text-align: center; */
    margin: 0 auto;
    max-width: 1200px;
    display: -webkit-flex;
    display: flex;

}

a{
    text-decoration: none;
    color: black;
}

.header{
     margin: 0 auto;
     max-width: 1200px;
     display: -webkit-flex;
     display: flex;
}

button{
    color: white;
    display: inline-flex;
    padding: 14px 32px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid var(--grayscale-30, #3C3C3C);
    background: var(--primary-blue-100, #2C3878);
}

nav ul{
    /*    display: flex; */
        flex-wrap: wrap;
        padding-left: 0;
        margin: auto, auto;
        vertical-align: middle;
    }
    
nav ul li{
    margin-right: 74px;
    display: inline-block;
    vertical-align: middle;
}

nav ul li:nth-child(1){
    margin-left: 0px;
    margin-right: 0px;
}

nav ul li:nth-child(2){
    margin-left: 360px;
}

nav ul li:nth-child(5){
    margin-right: 0px;
}

nav ul li:last-child{
    margin-left: 66px;
    margin-right: 0px;
}

.intro{
    text-align: center;
    padding-top: 191px;
}

.intro p{
    color: var(--grayscale-black, #000);
    text-align: center;
    /* Poppins/Regular/18 */
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    max-width: 518px;
    margin: auto auto;
}

.intro img{
    padding-top: 57px;
    padding-bottom: 100px;
}

.line__head{
    max-width: 1200px;
    display: -webkit-flex;
    margin: 0 auto;
}

hr{
    width: 511px;
    height: 1.5px;
    background-color: black;
    margin-top: 27px;
    margin-left: 30px;
}


.line__head p{
    max-width: 66px;
    display: -webkit-flex;
    display: inline-flex;
}

.portfolio{
    margin: 0 auto;
    max-width: 1200px;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 40px;
}

.qw{
    position: relative;
    display: block;
    max-width: 223px;
    padding-left: 94px;
    padding-top: 156px;
}

.bro{
    position: relative;
    right: 177px;
    width: 276px;
    height: 90px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
    bottom: 409px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.man{
    position: absolute;
    align-self: flex-start;
    margin-left: 20px;
}

h6{
    color: var(--grayscale-black, #000);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px; 
    margin: 0;
    padding-left: 20px;
}

span{
    padding-left: 15px;
    color: var(--grayscale-10, #9C9C9C);}


.portfolio h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
}

.portfolio p{
    color: var(--grayscale-10, #9C9C9C);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.portfolio_odd{
    margin: 0 auto;
    max-width: 1200px;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 40px;
}

.portfolio_odd .qw{
    position: relative;
    padding-right: 94px;
    display: block;
    max-width: 223px;
    padding-top: 156px;
    padding-left: 0px;
}

.portfolio_odd p{
    color: var(--grayscale-10, #9C9C9C);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.portfolio_odd h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
}

.portfolio_odd .bro{
    margin-left: 315px;
}

#ser{
    padding-top: 60px;
}

h3{
    font-size: 36px;
    font-weight: 600;
    line-height: 170%; /* 61.2px */
}

.choose p{
    max-width: 471px;
    color: var(--grayscale-10, #9C9C9C);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.choose{
    margin: 0 auto;
    max-width: 1200px;
}

.tab{
    margin: 0 auto;
    max-width: 1200px;
    display: -webkit-flex;
    display: flex;
}

.t1, .t2, .t3{
    max-width: 388px;
    max-height: 295px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.10);
    text-align: center;
}

h4{
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
}

.t1, .t2{
    margin-right: 18px;
}

svg{
    padding-top: 20px;
}

.blue__block{
    height: 203px;
    background: var(--primary-blue-100, #2C3878);
    margin-top: 100px;

}

.bl__block__text{
    margin: 0 auto;
    max-width: 1200px;
    display: -webkit-flex;
    display: flex;
}

.blue__block h5{
    margin: 0px;
    padding-top: 41px;
    width: 613px;
    color: var(--grayscale-white, #FFF);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
}
.blue__block p{
    margin-top: 0px;
    color: var(--grayscale-lightray, #D9D9D9);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 432px;
}

.bl__right{
    padding-left: 155px;
    padding-top: 38px;
}

.bl__right button{
    display: inline-flex;
    padding: 14px 32px;
    align-items: flex-start;
    gap: 10px;
    background: var(--grayscale-white, #FFF);
    color: var(--grayscale-50, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
}

footer{
    margin: 0 auto;
    max-width: 1200px;
    display: -webkit-flex;
    display: flex;
}

.foot__l{
    padding-top: 80px;
}

.foot__r{
    /* display: -webkit-flex;
    margin: 0 auto; */
    padding-top: 112px;
    padding-left: 280px;
}

.foot__r p{
    padding-left: 10px;

}

.tab{
    align-items: flex-end;
    justify-content: center;
}

#email{
    width: 408px;
    height: 27.035px;
    flex-shrink: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    padding-bottom: 15.2px;
    border: none;
}

input {outline:none;}

input::-webkit-input-placeholder { 
    color: #D9D9D9; 
}

#pth{
    padding-top: 0;
    margin-bottom: 40.5px;
}

.foot__r hr{
    width: 440px;
    height: 1px;
    background: #141414;
    margin: 0px;
}

.r__em{
    display: -webkit-flex;
    margin: 0 auto;
}

.follow{
    padding-left: 200px; 
    margin: 0 ;
}

.follow p{
    padding-left: 0px;
}

.follow ul{
    padding-left: 0px;
}

.follow ul li{
    list-style-type: none;
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle; 
}

.follow ul li :last-child{
    margin-right: 0;
}

button {
    transition-duration: 0.4s;
}
  
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    border: 1px solid #4CAF50;;
    cursor: pointer;
}