.info__right__img{
    // flex-direction: row;
    height: 800px;
}

.info__p__number{
    color: blue;
}

.info__p__main{
    font-size: 72px;
    width: 470px;
    margin: 50px 0 50px 0;
    font-weight: 600;
}

.info__p__info{
    width: 520px;
}

.info__button{
    background-color:  #5956E9;
    font-size: 20px;
    width: 320px;
    height: 80px;
    border: none;
    color: white;
    border-radius: 20px;
    margin-top: 70px;
}

.info__p{
    padding-top: 70px;
}

.info__img{
    position: relative;
    top: -570px;
    left: 650px;
    width: 400px;
}

.right__img__smal{
    position: relative;
    left: 250px;
    top: -250px;
    box-shadow: -5px 11px 16px 0px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
}

.right__img3__smal{
    position: relative;
    left: 180px;
    top: -230px;
    box-shadow: -5px 11px 16px 0px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
}



.info__p__number__left{
    color: blue;
}

.info__p__main__left{
    font-size: 72px;
    width: 470px;
    margin: 50px 0 50px 0;
    font-weight: 600;

}

.info__p__info__left{
    width: 520px;
}

.info__p__left{
    width: 300px;
}

.info__button__left{
    background-color:  #5956E9;
    font-size: 20px;
    width: 320px;
    height: 80px;
    border: none;
    color: white;
    border-radius: 20px;
    margin-top: 70px;
}

.left__img3__big{
    position: relative;
    left: -650px;
}

.left__img3__smal{
    position: relative;
    left: -450px;
    top: -250px;
}

.info__p__left{
    padding-top: 70px;
    position: relative;
    left: 650px;
    top: -50px;
}

.info__right__img__3{
    position: relative;
    top: -800px;
    height: 500px;
}