.afterDark{
    // display: flex;
    // flex-direction: column;
    text-align: center;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.afterDark__p__blue{
    font-size: 24px;
    color: blue;
}

.afterDark__p__grey{
    font-size: 24px;
    // width: 400px;
}