@mixin block__m ($c, $b, $a){
    padding-top: $c; 
    display: $a;
    flex-direction: $b;
}

.four__block__f{
    @include block__m(100px, row, flex);
}

.four__block__s{
    @include block__m(100px, row, flex);
}

.four__block__1{
    background-color: white;
    width: 600px;
    height: 680px;
    border-radius: 40px;
    text-align: center;
}

.four__block__main{
    padding-top: 80px;
    font-size: 72px;
    font-weight: 600;
    // width: 318px;
}

.four__block__second{
    padding-top: 45px;
    font-size: 24px;
    width: 500px;
}

.four__block__button{
    margin-top: 80px;
    color: white;
    font-size: 24px;
    background-color:  #5956E9;
    border-radius: 20px;
    width: 340px;
    height: 82px;
    border: none;
}

.four__block__2{
    // margin-left: 300px;
    background-color: #5956E9;
    width: 500px;
    height: 680px;
    border-radius: 40px;
    text-align: center;
    position: relative;
    left: 60px;

}

.four__block__main__blue{
    padding-top: 42px;
    font-size: 72px;
    color: white;
    font-weight: 600;
    // width: 318px;
    width: 500px;

}

.four__block__second__blue{
    font-size: 24px;
    color: white;
}

.four__block__button__blue{
    color:  #5956E9;
    margin-top: 104px;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 340px;
    height: 82px;
    border: none;
    box-shadow: 0px 15px 20px 2px rgba(41, 83, 116, 0.2);
}


.four__block__4{
    background-color: white;
    width: 500px;
    height: 680px;
    border-radius: 40px;
    text-align: center;
    position: relative;
    left: 60px;
}
